<nav>
  <a routerLink="/home" class="logo"><img src="../../assets/images/medicine-wellness-icon.png" alt="Pharmacy Logo"></a>
  <div class="burger-icon">
    <a (click)="toggle()">
      <img  src="../../assets/images/menu.png" alt="burger">
    </a>
    <ul *ngIf="(opened$ | async) === true">
      <li><a routerLink="/medicines" (click)="toggle()">Medicines</a></li>
      <li><a href="#" (click)="toggle()">About Us</a></li>
      <li><a href="#" (click)="toggle()">Contact Us</a></li>
    </ul>
  </div>

  <ul>
    <li><a routerLink="/medicines">Medicines</a></li>
    <li><a >About Us</a></li>
    <li><a >Contact Us</a></li>
  </ul>
  <app-medicine-search></app-medicine-search>
  <div class="user-nav">
    <a routerLink="/login" *ngIf="(authService.authenticated$ | async) === false">Login</a>
    <a routerLink="/user" *ngIf="(authService.authenticated$ | async) === true">My Account</a>
    <a routerLink="/cart" class="cart-icon" *ngIf="(authService.authenticated$ | async) === true && (authService.isAdmin$ | async) === false"><img src="../../assets/images/shopping-cart-icon.png" alt="Cart Icon"></a>
    <a routerLink="/user-list" class="cart-icon" *ngIf="(authService.authenticated$ | async) === true && (authService.isAdmin$ | async) === true"><img src="../../assets/images/person.png" alt="Person Icon"></a>
  </div>
</nav>
