<nav>
  <a href="http://localhost:63342/web-development-labs/frontend/pages/home/home.html" class="logo"><img src="../../docs/assets/images/medicine-wellness-icon.png" alt="Pharmacy Logo"></a>
  <div class="burger-icon">&#9776;</div>
  <ul>
    <li><a href="http://localhost:63342/web-development-labs/frontend/pages/medicines/medicines.html">Medicines</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
  <div class="search-bar">
    <input type="text" placeholder="Search for medicines">
    <button>Search</button>
  </div>
  <div class="user-nav">
    <a href="http://localhost:63342/web-development-labs/frontend/pages/login-register/login.html" id="login-link">Login</a>
  </div>
</nav>
