// Define your greenish colors here
$primary-color: #ffffff;
$secondary-color: #8BC34A;
$accent-color: rgb(40, 145, 124);

nav {
  background-color: $primary-color;
  justify-content: space-between;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;


  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  ul {
    display: flex;
    list-style: none;

    li {
      margin-right: 1rem;
    }

    a {
      color: black;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.logo img {
  height: 50px;
}


//.search-bar {
//  display: flex;
//  align-items: center;
//
//  input[type="text"] {
//    padding: 0.5rem;
//    border: 1px solid #ccc;
//    border-radius: 5px;
//    margin-right: 0.5rem;
//  }
//
//  button {
//    background-color: $accent-color;
//    color: white;
//    border: none;
//    border-radius: 5px;
//    padding: 0.5rem 1rem;
//    cursor: pointer;
//  }
//}


.burger-icon {
  color: black;
  display: none;
}



@media (max-width: 768px) {
  /* Hide the Contact Us, Medicines, and About Us sections */
  nav ul {
    display: none;
  }

  .burger-icon{
    display: block;
  }
}


.user-nav {
  display: flex;
  align-items: center;
}

.user-nav a {
  margin-left: 1rem;
}

.cart-icon img {
  height: 30px;
}

