<nav>
  <a routerLink="/home" class="logo"><img src="../../assets/images/medicine-wellness-icon.png" alt="Pharmacy Logo"></a>
  <div class="burger-icon">&#9776;</div>
  <ul>
    <li><a routerLink="/medicines">Medicines</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
  <app-medicine-search></app-medicine-search>
<!--  <div class="search-bar">-->
<!--    <input type="text" placeholder="Search for medicines">-->
<!--    <button>Search</button>-->
<!--  </div>-->
  <div class="user-nav">
    <a routerLink="/login" *ngIf="(authService.authenticated$ | async) === false">Login</a>
    <a routerLink="/user" *ngIf="(authService.authenticated$ | async) === true">My Account</a>
    <a routerLink="/cart" class="cart-icon" *ngIf="(authService.authenticated$ | async) === true"><img src="../../assets/images/shopping-cart-icon.png" alt="Cart Icon"></a>
  </div>
</nav>
