body {
  background: url("../../../assets/images/pharmacy.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

header {
  background-color: #008000;
  padding: 10px;
}

nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.search-bar form {
  display: flex;
  align-items: center;
}

.search-bar input[type=text] {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  margin-right: 10px;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar button[type=submit] {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-bar button[type=submit]:hover {
  color: #999;
}

.fa-search {
  font-size: 18px;
  color: #666;
}

.logo a {
  color: #008000;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.logo img {
  width: 35px;
  height: 35px;
}

.menu-toggle {
  display: none;
}
.menu-toggle span {
  background-color: #008000;
  display: block;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  transition: background-color 300ms ease-in-out;
}
.menu-toggle span:before, .menu-toggle span:after {
  background-color: #008000;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: transform 300ms ease-in-out;
  width: 100%;
}
.menu-toggle span:before {
  top: 10px;
}
.menu-toggle span:after {
  top: -10px;
}

.menu-toggle input[type=checkbox] {
  display: none;
}
.menu-toggle input[type=checkbox]:checked ~ .menu {
  display: block;
}
.menu-toggle input[type=checkbox]:checked ~ .menu-toggle > span {
  background-color: transparent;
}
.menu-toggle input[type=checkbox]:checked ~ .menu-toggle > span:before {
  transform: rotate(-45deg);
}
.menu-toggle input[type=checkbox]:checked ~ .menu-toggle > span:after {
  transform: rotate(45deg);
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul li {
  margin-left: 20px;
}
.menu ul li a {
  color: #008000;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  transition: background-color 300ms ease-in-out;
}
.menu ul li a:hover {
  background-color: #008000;
  color: #ffffff;
}

.store-inventory {
  margin: auto;
  max-width: 800px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.store-inventory h1 {
  color: #008000;
  text-align: center;
  margin-top: 0;
}
.store-inventory table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.store-inventory table th, .store-inventory table td {
  padding: 10px;
  text-align: center;
}
.store-inventory table th {
  background-color: #008000;
  color: #ffffff;
}
.store-inventory table tr:nth-child(even) {
  background-color: #f0f0f0;
}

/*# sourceMappingURL=inventory.css.map */
