<main>
  <form class="login-form" [formGroup]="form" (ngSubmit)="onRegister()">
    <h1>Register</h1>
    <label for="first-name">First Name</label>
    <input type="text" id="first-name" formControlName="first_name" required>

    <label for="last-name">Last Name</label>
    <input type="text" id="last-name" formControlName="last_name" required>

    <label for="phone">Phone</label>
    <input type="tel" id="phone" formControlName="phone" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="Please enter a phone number in the format XXX-XXX-XXXX">

    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter a valid email address">

    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" required>

    <button type="submit" >Register</button>
  </form>
</main>
