<div id="search-component" class="search-bar">
  <div class="wrap-search">
    <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Search for medicines" type="text"/>
  </div>

  <div class="suggestions">
    <div class="search-item" *ngFor="let medicine of searchMedicines$ | async">
        <a routerLink="/detail/{{medicine.id}}" (click)="onClick()">
          <div class="poster">
            <div>
              <img src="{{medicine.photoUrls[0]}}" alt="{{medicine.name}}">
            </div>
          </div>
          <div class="description">
            <div class="name">
              <p>{{medicine.name}}</p>
            </div>
          </div>
        </a>
    </div>
  </div>
</div>
