<main>
  <h1>Order</h1>
  <div class="checkout-container">
    <div class="cart-items-container">
            <div *ngFor="let medicine of medicines" class="cart-item">
              <div class="cart-item-image">
                <img src="{{medicine.photoUrls[0]}}" alt="{{medicine.name}}">
              </div>
              <div class="cart-item-details">
                <h3>{{medicine.name}}</h3>
                <p>Price: ${{medicine.price}}</p>
                <div class="cart-item-quantity">
                  <span>Quantity:</span>
                  <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <div class="cart-item-delete-image">
                    <a (click)="deleteMedicine(medicine.id)"><img src="../../assets/images/trash.png" alt="delete"></a>
                  </div>
                </div>

              </div>
            </div>

    </div>
    <div class="checkout-summary">
      <h3>Summary</h3>
      <div class="summary-row">
        <span>Subtotal:</span>
        <span id="subtotal">${{sum}}</span>
      </div>
      <div class="summary-row">
        <span>Shipping:</span>
        <span>$0.00</span>
      </div>
      <div class="summary-row">
        <span>Tax:</span>
        <span>$1.50</span>
      </div>
      <hr>
      <div class="summary-row">
        <span>Total:</span>
        <span id="total">${{sum + 1.5}}</span>
      </div>
    </div>


  </div>
  <div class="checkout-page">
    <button class="checkout-button">Complete Order</button>
  </div>
</main>
